
.DS_Store

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# Plot output (optional)
*.png
*.jpg

*.html